:root {
  font-family: system-ui, sans-serif;
  color: #18181b;
  background: #fafafa;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Leaflet */
.leaflet-container {
  font-family: inherit;
  z-index: 0;
}
.leaflet-div-icon {
  background: transparent !important;
  border: none !important;
}

a {
  color: inherit;
}
